@media (min-width: 960px) {
    .bd-sidebar-primary {
        font-size: var(--pst-sidebar-font-size);
        max-width: 25em;
    }
    .bd-page-width {
        max-width: 2000px;
    }
    .bd-main .bd-content .bd-article-container {
        max-width: 100%;
    }
}

.output_html {
    overflow-y: auto;
}
